In [1]:
# Import necessary libraries
import pandas as pd
import os

In [4]:
# Step 1: Load the CSV files by specifying their paths manually
file1 = "september_2024/202409-citibike-tripdata_1.csv"
file2 = "september_2024/202409-citibike-tripdata_2.csv"
file3 = "september_2024/202409-citibike-tripdata_3.csv"
file4 = "september_2024/202409-citibike-tripdata_4.csv"
file5 = "september_2024/202409-citibike-tripdata_5.csv"

In [5]:
# Step 2: Read each CSV file into a separate DataFrame
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)
df4 = pd.read_csv(file4)
df5 = pd.read_csv(file5)

/var/folders/1j/l1gnwgt93k1c9jq9s44wsnxc0000gn/T/ipykernel_83696/1486041684.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file1)
/var/folders/1j/l1gnwgt93k1c9jq9s44wsnxc0000gn/T/ipykernel_83696/1486041684.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file2)
/var/folders/1j/l1gnwgt93k1c9jq9s44wsnxc0000gn/T/ipykernel_83696/1486041684.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file3)
/var/folders/1j/l1gnwgt93k1c9jq9s44wsnxc0000gn/T/ipykernel_83696/1486041684.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(file4)
/var/folders/1j/l1gnwgt93k1c9jq9s44wsnxc0000gn/T/ipykernel_83696/1486041684.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv(file5)

In [7]:
# Step 3: Merge all DataFrames into one
merged_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [8]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D86F678648E7A867,electric_bike,2024-09-10 22:50:16.212,2024-09-10 23:30:44.697,Hudson St & W 13 St,6115.06,Broadway & W 58 St,6948.10,40.740057,-74.005274,40.766953,-73.981693,casual
1,032D1788CD512084,electric_bike,2024-09-22 05:51:00.609,2024-09-22 05:56:50.446,W 37 St & 5 Ave,6398.06,9 Ave & W 45 St,6717.06,40.750380,-73.983390,40.760193,-73.991255,member
2,DA55381E5121F0F9,electric_bike,2024-09-24 11:07:40.618,2024-09-24 11:29:23.460,Greenpoint Ave & West St,5752.09,2 Ave & E 72 St,6925.09,40.729803,-73.959099,40.768762,-73.958408,member
3,F67A042C028C6367,classic_bike,2024-09-03 14:25:28.732,2024-09-03 14:33:51.075,E 85 St & 3 Ave,7212.05,2 Ave & E 72 St,6925.09,40.778012,-73.954071,40.768762,-73.958408,member
4,31F722D5EAB9C780,electric_bike,2024-09-09 15:46:50.376,2024-09-09 15:50:16.411,7 Ave & Park Pl,4125.07,Carroll St & 6 Ave,4019.06,40.677615,-73.973243,40.674089,-73.978728,member

In [9]:
# Step 4: Clean the dataset
# Drop duplicate rows
merged_df.drop_duplicates(inplace=True)
# Handling missing values
cleaned_df = merged_df.dropna()

In [10]:
cleaned_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D86F678648E7A867,electric_bike,2024-09-10 22:50:16.212,2024-09-10 23:30:44.697,Hudson St & W 13 St,6115.06,Broadway & W 58 St,6948.10,40.740057,-74.005274,40.766953,-73.981693,casual
1,032D1788CD512084,electric_bike,2024-09-22 05:51:00.609,2024-09-22 05:56:50.446,W 37 St & 5 Ave,6398.06,9 Ave & W 45 St,6717.06,40.750380,-73.983390,40.760193,-73.991255,member
2,DA55381E5121F0F9,electric_bike,2024-09-24 11:07:40.618,2024-09-24 11:29:23.460,Greenpoint Ave & West St,5752.09,2 Ave & E 72 St,6925.09,40.729803,-73.959099,40.768762,-73.958408,member
3,F67A042C028C6367,classic_bike,2024-09-03 14:25:28.732,2024-09-03 14:33:51.075,E 85 St & 3 Ave,7212.05,2 Ave & E 72 St,6925.09,40.778012,-73.954071,40.768762,-73.958408,member
4,31F722D5EAB9C780,electric_bike,2024-09-09 15:46:50.376,2024-09-09 15:50:16.411,7 Ave & Park Pl,4125.07,Carroll St & 6 Ave,4019.06,40.677615,-73.973243,40.674089,-73.978728,member

In [17]:
# Step 5: Export the cleaned dataset as a CSV file
output_path = "/Users/ellengrant/Desktop/Citi-Bike/output"
# Check if the directory exists, and create it if it doesn't
if not os.path.exists(output_path):
    os.makedirs(output_path)
# Full file path
output_file_path = os.path.join(output_path, "cleaned_data.csv")

cleaned_df.to_csv(output_file_path, index=False)